@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

$bodyBackgroundColor: #000612;
$bodyAccentColor: #256eff;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: $bodyBackgroundColor;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    display: flex;
    width: 90%;
    height: 11.5vh;
    margin: 0 auto;
    z-index: 1;
}

.navlink {
    font-size: 18px;
    margin: auto 20px;
    $hoverTransition: 0.15s;
    transition: $hoverTransition;
    
    .underline {
        margin: auto;
        font-size: 24px;
        height: 5px;
        width: fit-content;
        position: relative;
        bottom: 5px;
        opacity: 0;
        color: $bodyAccentColor;
        transition: $hoverTransition;
    }

    &:hover {
        color: $bodyAccentColor;
    }

    &:hover .underline {
        opacity: 1;
    }
}

.icon {
    color: #fff;
    font-size: 18px;
    margin: auto 0;
    margin-left: auto;
    display: none;
    
    &:hover {
        color: $bodyAccentColor;
    }
}

.responsive {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    
    .icon {
        margin: auto;
    }
}

.container {
    padding: 1vh 6vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
}

.section {
    display: flex;
}

.sectionContent {
    margin: auto;
    position: relative;
}

.arrow-button {
    color: $bodyAccentColor;
    font-weight: 600;

    &:hover {
        color: rgba($bodyAccentColor, 0.85);
    }

    &:hover .arrow-button-icon {
        color: rgba($bodyAccentColor, 0.85);
    }
}

.arrow-button-icon {
    margin-left: 3px;
    color: $bodyAccentColor;
}

.section-image {
    max-width: 100%;
    max-height: 100%;
}

.author-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.author-link {
    font-weight: 500;
    font-size: 14px;
    color: $bodyAccentColor;

    &:hover {
        color: rgba($bodyAccentColor, 0.85);
    }
}

@media screen and (max-width: 680px) {
    
    .navbar {
        height: 60px;
    }

    .navbar a:first-child {
        margin-left: 0;
    }

    .navbar a:not(:first-child) { 
        display: none;
    }
    
    .navbar a.icon { 
        display: block; 
    }

    .navbar.responsive a {
        
        .underline { 
            display: none; 
        }

        margin-top: 15px;
        margin-left: 10vw;
        display: block;
        
        &:not(.icon):hover {
            transform: translateX(10px);
        }
    }

    .navbar.responsive a:first-child {
        margin-top: 32.5vh;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}