$bodyBackgroundColor: #000612;
$bodyAccentColor: #256eff;

.search-upper-title {
    margin-left: 6vw;
    margin-top: 15vh;
    font-size: 24px;
}

#container-1 {
    grid-template-columns: 3fr 7fr;
    column-gap: 15px;
    row-gap: 15px;
}

#container-1 .sectionContent {
    width: 100%;
    margin: 0;
}

#search-bar-container {
    min-width: 290px;
}

.search-input-container {
    position: relative;
    height: 55px;
}

::placeholder { 
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.search-input-bar {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

    box-sizing: border-box;
    padding: 10px 20px;
    padding-left: 52.5px;
    background: #050B17;
    border: solid 1px #050B17;
    border-radius: 10px;
    
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    
    &:focus {
        border: solid 1px $bodyAccentColor;
        outline: none;
    }
}

.search-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

#search-tags-container {
    min-width: 520px;
    min-height: 55px;
}

#search-tags-container .sectionContent {
    display: flex;
    flex-wrap: wrap;
}
 
.tag-item {
    margin: 5px 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 12.5px 20px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.section-bar-title {
    font-size: 18px;
}

#container-2 {
    grid-template-columns: 3fr 7fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: 5vh;
}

#filter-bar-container {
    background: #050B17;
    border-radius: 10px;
}

#filter-bar-container .sectionContent {
    margin: 10px 20px;
}

#platform-container {
    margin-bottom: 1em;
}

.go-back-container {
    margin-top: 20px;
}

.go-back-link {
    
    color: rgba(255, 255, 255, 0.65);
    font-weight: 600;

    &:hover {
        color: $bodyAccentColor;
    }
}

.go-back-icon {
    margin-right: 6px;
}

.select-item {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;      
    padding: 10px 15px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    margin: 2.5px 1.25px;
    display: inline-block;

    &:hover {
        border: solid 1px $bodyAccentColor;
        cursor: pointer;
    }
}

.selected {
    font-weight: 500;
    background: $bodyAccentColor;
    border: solid 1px $bodyAccentColor;
    box-shadow: 0px 5px 10px rgba($bodyAccentColor, 0.25);
}

#apps-bar-container .sectionContent {
    margin: 0;
    width: 100%;
    position: relative;
}

.apps-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}

.apps-item {
    background: #050B17;
    border-radius: 10px;
    display: block;
    transition: 0.15s;

    &:hover {
        transition: 0.15s;
        background:#080f1c;
    }

    &:hover .app-icon {
        transition: 0.15s;
        transform: translateY(-12.5px);
        filter: drop-shadow(0px 15px 15px rgba(255, 255, 255, 0.1));
    }
}

.logo-title-container {
    margin-top: 20px;
    display: flex;
}

.app-icon {
    transition: 0.15s;
    margin: auto 20px;
    width: 55px;
}

.app-title-container {
    margin: auto 0;
}

.app-title {
    margin: 2.5px 0;
}

.app-dev {
    margin: 2.5px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65);
}

.app-description {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-link-container {
    margin: 20px 20px;
    margin-top: 10px;
}

.app-link {
    font-size: 14px;
    font-weight: 500;
    color: $bodyAccentColor;
}

.nothing-found-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.nothing-found {
    margin: auto 20px;
}

.nothing-found-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 36px;
    margin: 0;
    margin-top: 20px;
}

.nothing-found-subtitle {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

#nothing {
    display: none;
}

//

@media screen and (max-width: 940px) {

    #container-1 {
        grid-template-columns: inherit;
    }

    #container-2 {
        grid-template-columns: inherit;
    }

    #search-bar-container {
        min-width: auto;
    }

    #search-tags-container {
        min-width: auto;
    }
}